{# Display the body field with a limited number of words #}
{% set body_text = node.field_body.value %}
{% set body_text_trimmed = body_text|striptags|slice(0, 50) %}
{% set show_more = body_text|striptags|length > 50 %}

<div class="body-wrapper">
  <p id="body-content" class="body-content">
    {{ body_text_trimmed }}{% if show_more %}...{% endif %}
  </p>
  {% if show_more %}
    <button id="toggle-button" class="toggle-button">Read More</button>
  {% endif %}
</div>
